/* --------- GENERAL ------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: serif;
  font-family: "Yeseva One", cursive;
  font-weight: 100;
  font-size: 1.3rem;
  /* background-color: #f2e3b3; */
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 1.7rem;
}

img {
  width: 60%;
  border-radius: 50%;
}

/* --------- HEADER ------------- */

header {
  position: fixed;
  top: -2vh;
  background-color: #dcdad7;
  width: 100vw;
  height: 20vh;
  z-index: 1;
}

nav {
  display: flex;
  margin-left: 8vw;
  margin-top: 5vh;
}
nav div {
  margin-right: 4vw;
}

.icon {
  width: 14vw;
  height: 10vh;
}
.icon_hogwarts {
  width: 100%;
  margin-top: -2vh;
}

#prefect_img,
#squad_img {
  width: 2vw;
}

footer {
  display: flex;
  justify-content: space-around;
  height: 8vh;
  background-color: #dcdad7;
  position: fixed;
  bottom: 0;
  width: 100vw;
  color: #565555;
}

footer div {
  margin-right: -20vw;
}

.icon_footer {
  width: 6vw;
  position: fixed;
  top: 25vh;
  right: 2vw;
  transform: rotate(45deg);
}
section {
  display: flex;
  margin: 8vw;
  margin-top: 22vh;
}

/* --------- TABLE ------------- */

table {
  border-spacing: 25px;
}

#list thead tr td {
  padding: 4px;
}

th {
  border: 1px solid #8c6b48d4;
  box-shadow: 2px 4px 0.5px;
}

td {
  text-align: center;
}

[data-img] {
  cursor: pointer;
  border-radius: 10px;
}

tbody [data-status] {
  width: 36%;
  cursor: pointer;
}

thead [data-status] {
  border-radius: 10px;
}

thead th [data-status] {
  border-radius: 10px;
}

[data-action] {
  cursor: pointer;
  border-radius: 10px;
  padding: 3px;
}

tbody [data-img="img_blood"] {
  cursor: default;
}

/* --------- [DATA-THEME] ------------- */

[data-theme="Gryffindor"] {
  background-color: #a61f1f;
  color: #d99a25;
  box-shadow: 10px 10px 2px rgb(0, 0, 0, 0.1);
}

[data-theme="Hufflepuff"] {
  background-color: #1f1f1e;
  color: #dbb745;
  box-shadow: 10px 10px 2px rgb(0, 0, 0, 0.1);
}

[data-theme="Ravenclaw"] {
  background-color: #0c539e;
  color: #d5a226;
  box-shadow: 10px 10px 2px rgb(0, 0, 0, 0.1);
}

[data-theme="Slytherin"] {
  background-color: #2d581d;
  color: #bbbbb9;
  box-shadow: 10px 10px 2px rgb(0, 0, 0, 0.1);
}

/* --------- DIALOG BOXES ------------- */

.message_prefect,
.message_squad {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1f1f1ec7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  background-color: #dcdad7;
  padding: 2vw;
  position: relative;
  border-radius: 22px;
}

.ignore_button,
.remove_button {
  right: 2vw;
  cursor: pointer;
  margin-left: 2vw;
  padding: 6px 10px 6px 10px;
}

.close_button_squad {
  position: absolute;
  right: 2vw;
  top: 1vh;
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
}

/* --------- DETAILS ------------- */

article {
  display: none;
  height: 68vh;
  width: 42vw;
  position: fixed;
  right: 6vw;
  top: 19vh;
  padding: 4vw;
  border-radius: 50px;
  background-color: #4d4d4d;
}

.info {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  margin-top: 6vh;
}
.col1 .student {
  font-size: 2rem;
}

.col2 img {
  width: 15vw;
  border-radius: 50%;
  margin-right: 2vw;
}

.button {
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  right: 4vw;
  top: 4vh;
  font-family: -webkit-body;
}

.blood,
.prefect {
  width: 3vw;
  cursor: pointer;
}

.house_img {
  width: 16vw;
  height: 18vh;
  margin-left: 18vw;
}
.theme {
  display: flex;
}

/* --------- TEMPLATE ------------- */
.foto {
  border: 0.5px solid;
  width: 50%;
}
